{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %} 
<h4>Welcome to our PiCar!</h4>

<h5> Two mode of operations: </h5>

<ul>
  <li>
    In the autonomous mode, the piCar can be regarded as a search and find embedded robot whose goal is to identify threats or missing items. 
    With very limited compute from the RPi and less energy use, this is a great embedded project that can easily help find items or examine a dangerous environment from a distance. 
  </li>

  <li>
    In the controlled mode, the user can easily make sure that they control the robot even when they are not directly next to it, giving the user more flexibility. 
  </li>
</ul>

{% endblock %}
